@model DataAccessLayer.Entity.Products

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Netweight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Netweight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expirydate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expirydate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturedate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="List">Back to List</a>
</div>
