@model IEnumerable<DataAccessLayer.Entity.Products>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Netweight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expirydate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturedate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Netweight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expirydate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturedate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id    }) |
                @Html.ActionLink("Delete", "Delete", new { Name = item.Name })
            </td>
        </tr>
}
    </tbody>
</table>
